[submodule "ChibiOS-RT"]
	path = ChibiOS-RT
	url = https://github.com/ChibiOS/ChibiOS-gitmain
	branch = stable_2.6.x
[submodule "include/protocol"]
	path = include/protocol
	url = https://github.com/OSURoboticsClub/aerial_protocol
